@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;
  width: 100vw;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .my-react-select-container .my-react-select__control {
    @apply border border-solid border-gray-300 bg-white text-base text-red-600;
  }

  .my-react-select-container .my-react-select__indicator-separator {
    display: none;
  }

  .my-react-select-container .my-react-select__single-value {
    @apply min-w-[6em] sm:min-w-[5em];
  }

  .my-react-select-container .my-react-select__option {
    @apply bg-white text-gray-700 hover:bg-blue-600 hover:text-white;
  }

  .my-react-select-container .my-react-select__input-container,
  .my-react-select-container .my-react-select__placeholder,
  .my-react-select-container .my-react-select__single-value {
    @apply text-gray-700;
  }
}
